[Unit]
Description= fucommencement
After=multi-user.target

[Service]
WorkingDirectory=/home/vwxyzjn/server/fucommencement
Type=idle
ExecStart=/home/vwxyzjn/server/fucommencement/fucommencement-backend_linux_amd64
Restart=always

[Install]
WantedBy=multi-user.target