[Unit]
Description= fucommencement
After=multi-user.target

[Service]
WorkingDirectory=/root/go/src/gitlab.com/vwxyzjn/fucommencement-backend
Type=idle
ExecStart=/root/go/src/gitlab.com/vwxyzjn/fucommencement-backend/fucommencement-backend
Restart=always

[Install]
WantedBy=multi-user.target